/* Config variables
/ -------------------------------------------------- /
/ --form-calendar-width
/ --form-calendar-border-radius
/ --form-calendar-border-radius-range
/ --form-calendar-border
/ --form-calendar-bg-today
/ --form-calendar-bg-selected
/ --form-calendar-bg-hover
/ --form-calendar-bg-disabled
/ --form-calendar-color-today
/ --form-calendar-color
/ --form-calendar-color-selected
/ --form-calendar-color-disabled
/ --form-calendar-font-size
/ --form-calendar-font-size-month
/ --form-calendar-font-size-day
/ --form-calendar-arrow-height
/ --------------------------------------------------
*/

.mkui-calendar {
  width: var(--form-calendar-width, 100%);
}

.mkui-calendar-grid {
  display: grid;
  grid-template: repeat(7, auto) / repeat(7, auto);
}

.mkui-calendar-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 20px;
}

.mkui-calendar-header.right .mkui-month-buttons {
  order: 2;
}

.mkui-month {
  text-align: center;
  margin: 0 20px;
  font-size: var(
    --form-calendar-font-size-month,
    calc(var(--form-input-font-size, 16px) * 1.2)
  );
}

.mkui-day-label {
  text-align: center;
  padding: 10px 0;
  font-weight: 700;
}

.mkui-day-label,
.mkui-date {
  font-size: var(--form-calendar-font-size, 1.65ch);
}

.mkui-date {
  border: none;
  outline: none;
  background: none;
  cursor: pointer;
  aspect-ratio: 1;
}

.mkui-date.range {
  height: 100%;
  width: 100%;
}

.mkui-date.selected {
  border-radius: var(--form-calendar-border-radius, 50%);
}

.mkui-date.selected,
.mkui-date.range-start,
.mkui-date.range-end,
.mkui-date.range-inner {
  color: blue;
  background: #dcf0ff;
  font-weight: 700;
}

.mkui-date.range-start,
.mkui-date.range-end {
  background: #aedcff;
  opacity: 1;
}

.mkui-date.range-inner {
  border-radius: 0;
  opacity: 1;
}

.mkui-date.available {
  opacity: 1;
}

.mkui-date.unavailable {
  pointer-events: none;
}

.mkui-date.hidden {
  opacity: 0;
}

.mkui-btn-month {
  border: none;
  outline: none;
  background: none;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
}

.mkui-btn-month svg {
  height: var(--form-calendar-arrow-height, 10px);
  fill: var(--form-color-selected, blue);
}

/* TimePicker */

.mkui-timepicker ul {
  list-style: none;
}
