.mkui-header {
  z-index: 100;
  height: var(--height-header);
  background: var(--color-bg-header);
}
.mkui-header.d-sticky,
.mkui-header.m-sticky {
  position: sticky;
}
.mkui-header.sticky-scroll {
  position: sticky;
  top: 0;
  transition: transform 0.4s ease-in-out;
}
.mkui-header.sticky-scroll.abs {
  position: fixed;
}
.mkui-header.sticky-scroll.hide {
  transform: translateY(-100%);
}
.mkui-header.abs {
  position: absolute;
  left: 0;
}
.mkui-nav {
  display: grid;
  height: 100%;
  margin: 0 auto;
  max-width: var(--max-width-header);
}
.nav-area {
  display: flex;
  align-items: center;
}
.button-slot {
  grid-area: button;
}
.menu-slot {
  grid-area: menu;
}
.logo-slot {
  grid-area: logo;
}
.widget-slot {
  grid-area: widgets;
}
.menu-slot.split {
  grid-area: menu-split;
  justify-content: flex-end;
}
.mkui-nav.basic .menu-slot {
  justify-content: flex-end;
}
.mkui-nav.basic-left .menu-slot {
  justify-content: flex-start;
}
.mkui-nav.basic-center .menu-slot {
  justify-content: center;
}
.mkui-nav.center .menu-slot,
.mkui-nav.center .logo-slot {
  justify-content: center;
}
.mkui-nav.split .widget-slot,
.mkui-nav.center .widget-slot {
  top: 0;
  right: 0;
  height: 100%;
}
/* Multiple menu button layouts */
.mkui-nav.minimal-center .button-slot {
  justify-content: flex-start;
}
.mkui-nav.split .widget-slot,
.mkui-nav.center .widget-slot {
  position: relative;
}
.mkui-nav.minimal-left.m-basic .button-slot {
  display: none;
}
.mkui-nav.minimal.m-logo-center-alt .button-slot,
.mkui-nav.minimal.m-basic-menu-left .button-slot {
  display: flex;
}
.mkui-nav.m-logo-center-alt .button-slot {
  justify-content: flex-end;
}
