header {
  z-index: 100;
  height: var(--height-header);
}
.mkr_nav {
  display: grid;
  height: 100%;
  margin: 0 auto;
  max-width: var(--max-width-header);
  grid-template-rows: 1fr;
}
.nav-area {
  display: flex;
  align-items: center;
}
.button-slot {
  grid-area: button;
}
.menu-slot {
  grid-area: menu;
  display: none;
}
.menu-slot.split {
  grid-area: menu-split;
  justify-content: flex-end;
}
.logo-slot {
  grid-area: logo;
}
.widget-slot {
  grid-area: widgets;
}
.menu-scroll .menu-slot {
  overflow-x: scroll;
  white-space: nowrap;
}
.desktop-visible {
  display: block;
}
.desktop-minimal .menu-slot {
  display: none;
}
.mkr_nav:not(.desktop-minimal) .button-slot {
  display: flex;
}
.mkr_nav.basic .menu-slot {
  justify-content: flex-end;
}
.mkr_nav.basic-left .menu-slot {
  justify-content: flex-start;
}
.mkr_nav.basic-center .menu-slot {
  justify-content: center;
}
.mkr_nav.center .menu-slot,
.mkr_nav.center .logo-slot {
  justify-content: center;
}
.mkr_nav.split .widget-slot,
.mkr_nav.center .widget-slot {
  top: 0;
  right: 0;
  height: 100%;
}
.mkr_nav.minimal-center .button-slot {
  justify-content: flex-start;
}
/* Multiple menu button layouts */
.mkr_nav.split .widget-slot,
.mkr_nav.center .widget-slot {
  position: relative;
}
.mkr_nav.minimal-left.m-basic .button-slot {
  display: none;
}
.mkr_nav.minimal.m-logo-center-alt .button-slot,
.mkr_nav.minimal.m-basic-menu-left .button-slot {
  display: flex;
}
.mkr_nav.m-logo-center-alt .button-slot {
  justify-content: flex-end;
}
