logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
coverage
build
dist
cache
.npmrc
.cache
.env
.next
.turbo
.vercel
.DS_Store
node_modules
packages/*/node_modules
package-lock.json
yarn-error.log
.yarn-integrity
.vscode/
.npmrc.turbo
store
.store
.pnpm
