/* Config variables
/ -------------------------------------------------- /
/ --form-range-input-width
/ --form-range-thumb-color
/ --form-range-thumb-shadow
/ --form-range-thumb-border-radius
/ --form-range-thumb-size
/ --form-range-thumb-height
/ --form-range-thumb-width
/ --form-range-track-height
/ --form-range-track-bg
/ --form-range-track-bg-active
/ --------------------------------------------------
*/

.mkui-range-input input {
  width: var(--form-range-input-width, 70px);
}

.mkui-range-input label {
  text-align: center;
}

.mkui-range-slider {
  width: 100%;
  position: relative;
  margin: 30px 0 20px;
}

.mkui-thumb,
.mkui-thumb::-webkit-slider-thumb {
  -webkit-appearance: none;
  -webkit-tap-highlight-color: transparent;
  border: none;
}

.mkui-thumb::-webkit-slider-thumb {
  background-color: var(--form-range-thumb-color, var(--color-background));
  box-shadow: var(--form-range-thumb-shadow, 0 0 1px 1px var(--color-text));
  border-radius: var(--form-range-thumb-border-radius, 50%);
  height: var(--form-range-thumb-size, var(--form-range-thumb-height, 20px));
  width: var(--form-range-thumb-size, var(--form-range-thumb-width, 20px));
  margin-top: 4px;
  pointer-events: all;
  position: relative;
}

.mkui-thumb::-moz-range-thumb {
  background-color: var(--form-range-color-thumb, var(--color-background));
  box-shadow: var(--form-range-shadow-thumb, 0 0 1px 1px var(--color-text));
  border-radius: var(--form-range-thumb-border-radius, 50%);
  height: var(--form-range-thumb-size, var(--form-range-thumb-height, 20px));
  width: var(--form-range-thumb-size, var(--form-range-thumb-width, 20px));
  margin-top: 4px;
  pointer-events: all;
  position: relative;
}

.mkui-thumb {
  pointer-events: none;
  height: 0px;
  width: 100%;
  outline: none;
}

.mkui-slider {
  width: 100%;
  position: relative;
}

.mkui-thumb-track,
.mkui-thumb-progress {
  height: var(--form-range-track-height, 3px);
}

.mkui-thumb-track {
  width: 100%;
  z-index: 1;
  opacity: 0.25;
  background-color: var(--form-range-track-bg, var(--color-text));
}

.mkui-thumb-progress {
  z-index: 2;
  background-color: var(--form-range-track-bg-active, var(--color-text));
}

.z-3 {
  z-index: 3;
}

.z-4 {
  z-index: 4;
}

.z-5 {
  z-index: 5;
}
