.mkui-data-grid {
  display: grid;
  grid-template-columns: 1fr;
  gap: var(--data-grid-gap, 20px);
  width: 100%;

  @media screen and (min-width: 768px) {
    grid-template-columns: var(--data-grid-columns, 1fr);
  }
}

/* Accordion Menu */

.mkui-filter-details[open] > summary {
  border-bottom: 1px solid transparent;
}

.mkui-filter-details[open] > summary svg {
  transform: rotate(180deg);
}

.mkui-filter-label::-webkit-details-marker {
  display: none;
}

.mkui-filter-label {
  display: flex;
  align-items: center;
  justify-content: space-between;
  cursor: pointer;
  list-style-type: none;
  font-size: var(--data-menu-label-font-size, 1em);
  padding: var(--data-menu-label-padding, 10px 20px);
}

.mkui-filter-label svg {
  height: 12px;
  width: 12px;
  margin-bottom: 3px;
  margin-left: 10px;
  fill: var(--data-menu-icon-fill, var(--color-text));
}

.mkui-filter-list {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

.mkui-filter-option {
  padding: var(--data-menu-item-padding, 5px 20px);
}

.mkui-filter-option-label {
  cursor: pointer;
  margin: var(--date-menu-input-label-margin, 0 0 0 5px);
}

/* Sort Button */

.mkui-data-sort {
  display: flex;
  align-items: center;
}

.mkui-data-sort-label {
  display: none;
  margin-right: 10px;
  font-size: var(--data-sort-label-font-size, 0.9em);

  @media screen and (min-width: 768px) {
    display: block;
  }
}

.mkui-data-sort-inner {
  position: relative;
}

.mkui-data-sort-inner svg {
  position: absolute;
  top: 46%;
  fill: var(--data-sort-icon-fill, var(--color-text));
  right: 10px;
  height: 5px;
}

.mkui-data-sort-select {
  font-family: var(--font-body);
  font-size: var(--data-sort-select-font-size, 13px);
  padding: var(--data-sort-select-padding, 12px 30px 12px 10px);
  appearance: none;
  background-color: var(--data-sort-select-bg, var(--color-bg, #fff));
  border-color: var(--data-sort-select-border-color, #d9d9d9);
  border-radius: var(--data-sort-select-radius, 2px);
}

/* Active Filters */

.mkui-data-active-filters {
  display: flex;
  align-items: center;
}

.mkui-data-clear,
.mkui-data-active-item {
  margin: var(--data-active-item-margin, 0 7px);
}

.mkui-data-remove {
}

.mkui-data-remove-all {
}
