.mkr_nav_menu .submenu {
  display: inline-block;
  background: var(--color-bg-header);
  width: max-content;
  margin: 0;
  padding: 0;
  z-index: 1;
  opacity: 0;
  visibility: hidden;
  list-style: none;
}
.mkr_nav_menu .submenu a {
  width: 100%;
}

.mkr_nav_menu .submenu li {
  display: block;
}

.mkr_nav_menu .submenu.depth-0 {
  position: absolute;
  top: 99%;
  left: 0;
}

.mkr_nav_menu .submenu:not(.depth-0) {
  position: fixed;
  height: 100%;
  left: 100%;
  top: 0;
}

.mkr_nav_menu .menu-item.has-submenu {
  position: relative;
}

.mkr_nav_menu ul > .menu-item {
  display: inline-flex;
}

.submenu-toggle {
  border: none;
  background: transparent;
}

.submenu-toggle svg {
  height: 12px;
  width: 12px;
  transition: transform ease 0.2s;
  transform-origin: 50% 55%;
}

.submenu-toggle svg.rotate {
  transform: rotate(180deg);
}

.dd-fade .submenu {
  transition: all ease 0.3s;
}

.dd-fade li:focus-within > .submenu,
.dd-fade li:hover > .submenu {
  opacity: 1;
  visibility: visible;
  transform: translateY(0);
}

.dropdown-fade-down .submenu {
  transform: translateY(-10px);
}

.dropdown-fade-up .submenu {
  transform: translateY(10px);
}

.dropdown-scale .submenu {
  opacity: 1;
  visibility: visible;
  transform: scale(1, 0);
  transform-origin: 0 0;
  transition: transform ease-in-out 0.25s;
}

.dropdown-scale .submenu li {
  opacity: 0;
  transition: opacity 0.03s ease-in-out;
}

.dropdown-scale li:focus-within > .submenu,
.dropdown-scale li:hover > .submenu {
  transform: scale(1, 1);
}

.dropdown-scale li:focus-within > .submenu li,
.dropdown-scale li:hover > .submenu li {
  opacity: 1;
  transition: opacity ease-in-out 0.2s 0.2s;
}

.menu-item.caret > a:after {
  content: '';
  display: inline-block;
  width: 0;
  height: 0;
  margin-left: 0.4em;
  vertical-align: 0.25em;
  border-top: 0.25em solid;
  border-right: 0.25em solid transparent;
  border-left: 0.25em solid transparent;
}
