.mkui-sn {
  top: 0;
  bottom: 0;
  width: var(--width-side-nav);
  background: var(--color-bg-side-nav);
  will-change: transform;
  transform: translateX(0);
}

.mkui-sn-init {
  visibility: hidden;
  transition: none !important;
}

.mkui-sn-inner {
  top: 0px;
  height: 100vh;
  position: sticky;
  overflow-y: auto;
}

.mkui-overlay-s {
  display: block;
}

.mkui-btn-collapse {
  z-index: 1;
}
