// Code blocks

code {
  padding: 60px 30px 30px;
  line-height: 1.6;
  font-size: 14px;
}

pre {
  border-radius: 4px;
}

pre > code {
  display: grid;
}

.mkui-code-util {
  top: 0;
  left: 0;
  right: 0;
  padding: 10px 20px;
  color: #fff;
  font-size: 12px;
  border-bottom: 1px solid rgba(255, 255, 255, 0.07);

  .copy button {
    border: none;
    background: none;
    color: #fff;
    cursor: pointer;
  }
}

@media (prefers-color-scheme: dark) {
  pre[data-theme='light'],
  code[data-theme='light'] {
    display: none;
  }
}

@media (prefers-color-scheme: light), (prefers-color-scheme: no-preference) {
  pre[data-theme='dark'],
  code[data-theme='dark'] {
    display: none;
  }
}

// Page Contents

.page-contents {
  display: none;

  @media screen and (min-width: 768px) {
    display: block;
  }
}

.page-contents-inner {
  position: sticky;
  top: calc(var(--height-header) + 30px);

  .active {
    font-weight: 700;
  }
}

// Doc Search

.doc-search {
  button {
    height: 46px;
    margin: 5px 0 5px 150px;
    width: 280px;
    background: var(--color-bg_sideNav);
    border: 1px solid var(--color-border_dark);
    border-radius: 2px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-size: 16px;
    color: var(--color-muted);
    font-weight: 400;
    padding: 0 15px;
    transition: all ease 0.3s;

    svg {
      height: 22px;
      fill: var(--color-header_fill);
      margin-right: 10px;
    }
  }
}

.DocSearch-Button-Key {
  border: 1px solid var(--color-border_dark);
  height: 28px;
  width: 28px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 4px;
  font-size: 13px;
  background: var(--color-bg_header);
  box-shadow: none;
  padding: 0;
}

.DocSearch-Button-Keys,
.DocSearch-Button-Placeholder {
  display: none;
}

// Tables

// table {
//   width: 100%;
//   margin: 40px 0;
//   font-size: 0.9em;
// }

// thead {
//   background: var(--color-table_th_bg);
//   color: #fff;
//   padding: 20px;
// }

// th {
//   padding: 6px 15px;

//   // &:first-of-type' {
//   //   minWidth: [120, 140]
//   // }
// }

// td {
//   padding: 10px;

//   @media screen and (min-width: 768px) {
//     padding: 12px 20px;
//   }
// }

// tbody tr:nth-of-type(even) {
//   background: var(--color-bg_code);

//   code {
//     background: var(--color-background);
//   }
// }

// tr td:first-of-type {
//   font-weight: 700;
// }
