// Nav Widgets

.mkui-nav-widgets {
  .btn-github svg {
    height: 22px;
    fill: var(--color-text);
  }

  .mkui-btn-color {
    background: none;
    border: none;
    margin-left: 30px;

    svg {
      fill: var(--color-text);
      height: 20px;
    }
  }
}

// Code blocks

code {
  font-size: 13px;
}

.mkui-code-block {
  margin: 30px 0;

  pre > code {
    display: grid;
  }

  code {
    padding: 50px 20px 20px;
    line-height: 1.6;
    font-size: 14px;
  }

  pre {
    border-radius: 4px;
  }

  @media screen and (min-width: 768px) {
    code {
      padding: 60px 30px 30px;
      font-size: 14px;
    }
  }
}

.mkui-code-util {
  top: 0;
  left: 0;
  right: 0;
  padding: 10px 15px;
  color: #fff;
  font-size: 12px;
  border-bottom: 1px solid rgba(255, 255, 255, 0.07);

  .copy button {
    border: none;
    background: none;
    color: #fff;
    cursor: pointer;
  }
}

@media (prefers-color-scheme: dark) {
  pre[data-theme='light'],
  code[data-theme='light'] {
    display: none;
  }
}

@media (prefers-color-scheme: light), (prefers-color-scheme: no-preference) {
  pre[data-theme='dark'],
  code[data-theme='dark'] {
    display: none;
  }
}

// Page Contents

.page-contents {
  display: none;
  padding-top: 30px;

  h5 {
    font-size: 13px;
    text-transform: uppercase;
    font-weight: 700;
    margin: 0 0 20px;
    padding-bottom: 20px;
    border-bottom: 1px solid var(--color-border-100);

    svg {
      fill: var(--color-text);
      height: 10px;
      margin-right: 10px;
    }
  }

  ul {
    margin: 0 0 0 10px;
    padding: 0;
    list-style: none;
  }

  li {
    margin: 10px 0;
    opacity: 0.7;
    transition: opacity ease 0.2s;

    &:hover {
      opacity: 1;
    }
  }

  a {
    font-size: 15px;
    color: var(--color-text);
  }

  @media screen and (min-width: 768px) {
    display: block;
  }
}

.edit-github {
  margin-top: 25px;
  padding: 20px 10px;
  border-top: 1px solid var(--color-border-100);
  opacity: 0.7;
  transition: opacity ease 0.2s;

  svg {
    height: 10px;
    margin-left: 10px;
    fill: var(--color-text);
  }

  &:hover {
    opacity: 1;
  }
}

.page-contents-inner {
  position: sticky;
  top: calc(var(--height-header) + 30px);

  .active {
    opacity: 1;
    font-weight: 700;
  }
}

// Doc Search

.doc-search {
  button {
    height: 46px;
    margin: 5px 0 5px 150px;
    width: 280px;
    background: var(--color-bg_sideNav);
    border: 1px solid var(--color-border_dark);
    border-radius: 2px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-size: 16px;
    color: var(--color-muted);
    font-weight: 400;
    padding: 0 15px;
    transition: all ease 0.3s;

    svg {
      height: 22px;
      fill: var(--color-header_fill);
      margin-right: 10px;
    }
  }
}

.DocSearch-Button-Key {
  border: 1px solid var(--color-border_dark);
  height: 28px;
  width: 28px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 4px;
  font-size: 13px;
  background: var(--color-bg_header);
  box-shadow: none;
  padding: 0;
}

.DocSearch-Button-Keys,
.DocSearch-Button-Placeholder {
  display: none;
}

// Post Pagination

// Tables

/* Reset table defaults */
table {
  border-collapse: collapse;
  width: 100%;
  border-spacing: 0;
  margin: 50px 0;
  /* Use for scroll on mobile */
  display: block;
  overflow-x: auto;
  -webkit-overflow-scrolling: touch;
}

th,
td {
  padding: 0.75rem 1.25rem;
  text-align: left;
  border: 1px solid var(--color-gray-200);
}

td {
  font-size: 14px;
}

thead {
  background-color: var(--color-gray-100);
}

th {
  font-weight: 600;
}

tr:nth-child(even) {
  background-color: var(--color-gray-100);
}

.prop-table td:nth-child(2) {
  color: var(--color-secondary);
  line-height: 1.4;

  strong {
    font-weight: 400;
    color: rgba(0, 0, 0, 0.3);
  }
}

.prop-table-sm td:nth-child(2),
.prop-table td:last-of-type {
  code {
    color: var(--color-secondary);
  }
}

.prop-table.prop-bold td:nth-child(2) {
  font-weight: 700;
}

/* Hover effect for rows */
// tbody tr:hover {
//   background-color: #f0f0f0;
// }

/* Focus styling for better accessibility */
tbody tr:focus-within {
  outline: 2px solid #007bff;
  background-color: #e6f7ff;
}

/* Optional: If you want the first column to be bolded for emphasis (like for labels or identifiers) */
td:first-child {
  font-weight: bold;
}

.theme td:first-child {
  color: blue;
}
