// Navbar

header {
  backdrop-filter: saturate(180%) blur(5px);

  li {
    margin: 0 10px;
  }
}

// Sidenav

.mkui-sn {
  .mkui-menu {
    padding: 20px 20px 30px 10px;
  }

  ul {
    list-style: none;
    margin: 0;
    padding: 0;
  }

  .has-submenu > div {
    justify-content: space-between;
  }

  .submenu {
    border-left: 1px solid var(--color-border-100);
  }

  li {
    margin: 12px 0 12px 5px;
    padding-left: 20px;
    font-size: 15px;

    a {
      color: var(--color-text);
      opacity: 0.7;
      transition: opacity ease 0.2s;

      &:hover {
        opacity: 1;
      }

      &.current {
        opacity: 1;
        font-weight: 700;
      }
    }
  }

  .nav-bold,
  .nav-heading {
    font-weight: 700;
  }

  .nav-heading {
    margin-left: -5px;
    opacity: 0.7;
  }
}

// Reference Page Layout

.mkui-ref-layout {
  padding-top: 50px;

  h1 {
    margin: 0 0 20px;
    font-size: 42px;
    font-weight: 700;
    line-height: 1.2;
  }

  h2,
  h3 {
    margin-top: 50px;
  }
}

.ref-meta {
  margin-bottom: 30px;
}

.ref-type {
  border: 1px solid var(--color-border-100);
  border-radius: 4px;
  padding: 8px 10px;
  margin-right: 10px;
}

.mkui-mdx h1:last-of-type {
  display: none;
}

.mdx-container {
  max-width: var(--max-width-section);
  margin: 0 auto;

  h2,
  h3 {
    text-decoration: none;

    &:hover .h-icon {
      color: var(--color-primary);
      opacity: 1;
      visibility: visible;
    }

    span {
      opacity: 0;
      visibility: hidden;
    }

    a {
      color: var(--color-text);
    }
  }

  h2::before,
  h3::before {
    content: '';
    display: block;
    height: calc(var(--height-header) + 20px);
    margin-top: calc(-1 * calc((var(--height-header)) + 20px));
    visibility: hidden;
    pointer-events: none;
  }

  .h-icon {
    margin-left: 5px;
    transition: opacity ease 0.3s;
  }
}

.mdx-grid {
  display: grid;
  grid-template-columns: 1fr;
  margin: 0 auto;
  gap: 40px;

  @media screen and (min-width: 768px) {
    grid-template-columns: auto 300px;
  }
}
