* {
  box-sizing: border-box;
}
body {
  margin: 0;
  font-family: var(--font-body);
  color: var(--color-text);
  background-color: var(--color-background);
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: var(--font-heading);
}
code,
pre {
  font-family: var(--font-monospace);
}
b,
strong,
.bold {
  font-weight: 700;
}
