.skiplinks {
  list-style: none;
  position: relative;
  z-index: 1000;
  padding: 0;
  margin: 0;

  a {
    background: var(--color-bg-header);
    display: block;
    position: absolute;
    font-family: var(--font-body);
    left: -9999px;
    padding: 1em;

    &:focus {
      left: 0px;
    }
  }
}
