.mkui-btn-menu {
  display: block;
  margin: 0;
  border: none;
  background: none;
  cursor: pointer;
}

.mkui-btn-menu svg {
  display: flex;
  align-items: center;
  margin: 0 auto;
  fill: var(--color-text);
}

.mkui-btn-menu-icon {
  height: 27px;
}

.mkui-btn-menu-icon.close {
  height: 35px;
}
