.btn-menu {
  display: block;
  margin: 0;
  border: none;
  background: none;
  cursor: pointer;

  svg {
    display: flex;
    align-items: center;
    margin: 0 auto;
    fill: var(--color-text);
  }
}

.btn-menu-icon {
  height: 27px;

  &:global.close {
    height: 35px;
  }
}
