/* Form variables
/ -------------------------------------------------- /
/ --form-bg-dropzone
/ --form-bg-switch
/ --form-bg-switch-active
/ --form-bg-thumb-track
/ --form-bg-thumb-track-active
/ --form-border-dropzone
/ --form-border-radius-switch
/ --form-border-radius-thumb
/ --form-color-upload-icon
/ --form-color-switch-label
/ --form-color-switch-label-active
/ --form-color-thumb
/ --form-height-dropzone
/ --form-height-input
/ --form-height-switch
/ --form-height-thumb
/ --form-height-thumb-track
/ --form-height-range-input
/ --form-height-preview
/ --form-width-dropzone
/ --form-width-thumb
/ --form-width-range-input
/ --form-width-preview
/ --form-padding-input
/ --form-padding-switch
/ --form-shadow-thumb
/ --form-size-thumb
/ --form-size-dropzone
/ --form-size-preview
*/

/* Text Inputs */

.mkui-form input[type='text'],
.mkui-form input[type='password'],
.mkui-form input[type='email'],
.mkui-form input[type='tel'],
.mkui-form input[type='time'],
.mkui-form input[type='date'],
.mkui-form input[type='url'],
.mkui-form input[type='number'] {
  height: var(--form-height-input, 36px);
  padding: var(--form-padding-input, 0 10px);
}

.mkui-form textarea {
  padding: var(--form-padding-input, 0 10px);
}

/* Switch */

.mkui-switch {
  position: relative;
  display: inline-block;
}

.mkui-switch input {
  position: absolute;
  top: -5px;
  left: -5px;
  opacity: 0;
  outline: 0;
  z-index: 100;
}

.mkui-switch-label.active {
  background: var(--form-bg-switch-active, var(--color-text));
}

.mkui-switch-label {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: space-between;
  overflow: hidden;
  cursor: pointer;
  padding: 1px 5px;
  transition: background ease 0.3s;
  outline: 0;
  height: var(--form-height-switch, 36px);
  width: calc(var(--form-height-switch, 36px) * 4);
  background: var(--form-bg-switch, #d1d1d1);
  border-radius: var(--form-border-radius-switch, 3px);
}

.mkui-switch-label span {
  color: var(--form-color-switch-label, var(--color-text));
  width: 50%;
  overflow: hidden;
  text-align: center;
}

.mkui-switch-label.active span {
  color: var(--form-color-switch-label-active, var(--color-background));
}

.mkui-switch-slider {
  display: block;
  position: absolute;
  background: var(--color-background);
  z-index: 1;
  right: 50%;
  transition: all ease 0.3s;
  transition-property: left, right;
  top: var(--form-padding-switch, 4px);
  bottom: var(--form-padding-switch, 4px);
  left: var(--form-padding-switch, 4px);
  height: calc(100% - (var(--form-padding-switch, 4px) * 2));
}

.mkui-switch.circle .mkui-switch-label {
  border-radius: var(--form-height-switch, 36px);
  width: calc(
    (var(--form-height-switch, 36px) * 2) -
      (var(--form-padding-switch, 4px) * 2)
  );
}
.mkui-switch.circle .mkui-switch-slider {
  width: calc(
    var(--form-height-switch, 36px) - (var(--form-padding-switch, 4px) * 2)
  );
  border-radius: 50%;
}

.mkui-switch-slider.on {
  right: var(--form-padding-switch, 4px);
  left: 50%;
}

/* Range */

.mkui-range-input input {
  width: var(--form-width-range-input, 70px);
}

.mkui-range-input label {
  text-align: center;
}

.mkui-range-slider {
  width: 100%;
  position: relative;
  margin: 30px 0 20px;
}

.mkui-thumb,
.mkui-thumb::-webkit-slider-thumb {
  -webkit-appearance: none;
  -webkit-tap-highlight-color: transparent;
  border: none;
}

.mkui-thumb::-webkit-slider-thumb {
  background-color: var(--form-color-thumb, var(--color-background));
  box-shadow: var(--form-shadow-thumb, 0 0 1px 1px var(--color-text));
  border-radius: var(--border-radius-thumb, 50%);
  height: var(--form-size-thumb, var(--form-height-thumb, 20px));
  width: var(--form-size-thumb, var(--form-width-thumb, 20px));
  margin-top: 4px;
  pointer-events: all;
  position: relative;
}

.mkui-thumb::-moz-range-thumb {
  background-color: var(--form-color-thumb, var(--color-background));
  box-shadow: var(--form-shadow-thumb, 0 0 1px 1px var(--color-text));
  border-radius: var(--form-border-radius-thumb, 50%);
  height: var(--form-size-thumb, var(--form-height-thumb, 20px));
  width: var(--form-size-thumb, var(--form-width-thumb, 20px));
  margin-top: 4px;
  pointer-events: all;
  position: relative;
}

.mkui-thumb {
  pointer-events: none;
  height: 0px;
  width: 100%;
  outline: none;
}

.mkui-slider {
  width: 100%;
  position: relative;
}

.mkui-thumb-track,
.mkui-thumb-progress {
  height: var(--form-height-thumb-track, 3px);
}

.mkui-thumb-track {
  width: 100%;
  z-index: 1;
  opacity: 0.25;
  background-color: var(--form-bg-thumb-track, var(--color-text));
}

.mkui-thumb-progress {
  z-index: 2;
  background-color: var(--form-bg-thumb-track-active, var(--color-text));
}

.z-3 {
  z-index: 3;
}

.z-4 {
  z-index: 4;
}

.z-5 {
  z-index: 5;
}

/* Select */

/* ImagePicker */

.mkui-image-picker {
  position: relative;
}

.mkui-preview {
  width: var(--form-width-preview, var(--form-size-preview, 150px));
  height: var(--form-height-preview, var(--form-size-preview, 150px));
}

.mkui-image-picker img {
  height: 100%;
  width: 100%;
  object-fit: cover;
  object-position: center;
}

.mkui-dropzone.mkui-preview .mkui-drag-area {
  cursor: poiner;
  border: none;
  background-color: transparent;
  opacity: 0;
  transition: background ease 0.3s, opacity ease 0.3s;
}

.mkui-preview-area.dz-primary {
  margin: auto;
}
.mkui-preview-area .mkui-drag-area svg {
  fill: #fff;
}

.mkui-preview-area .mkui-drag-area.drag-active {
  opacity: 1;
  background-color: rgba(0, 0, 0, 0.4);
}

.mkui-btn-remove {
  position: relative;
  z-index: 10;
}

.mkui-dropzone-icon svg {
  display: block;
  fill: var(--form-color-upload-icon, var(--color-text));
  height: var(--form-height-upload-icon, 36px);
  margin-bottom: 10px;
}

.mkui-dropzone input {
  display: none;
}

.mkui-drag-area {
  padding: 30px;
  border: var(--form-border-dropzone, 2px dashed #ddd);
  background: var(--form-bg-dropzone, #f5f5f5);
  transition: background ease 0.3s;
}

.mkui-dropzone {
  font-size: var(--form-font-size-dropzone, 0.8rem);
}

.mkui-dropzone:not(.mkui-preview) {
  position: relative;
  width: var(--form-width-dropzone, var(--form-size-dropzone, 150px));
  height: var(--form-height-dropzone, var(--form-size-dropzone, 150px));
}

.mkui-dropzone-hitbox {
  cursor: pointer;
}

.mkui-upload-error {
  color: var(--form-color-error, red);
  font-size: var(--form-font-size-error, 0.75rem);
  margin-top: 5px;
}

.mkui-upload-error.top {
  bottom: calc(100% + 10px);
}

.mkui-upload-error.bottom {
  top: calc(100% + 10px);
}

.mkui-upload-error.bottom,
.mkui-upload-error.top {
  left: 0px;
  width: 100%;
  text-align: center;
}

/* Datepicker */

/* Gallery */
