/* Config Variables
/ -------------------------------------------------- /
/ --form-gap
/ --form-columns
/ --form-icon-fill
/ --form-placeholder-color
/ --form-error-color
/ --form-error-font-size
/ --form-error-padding
/ --form-label-color
/ --form-label-font-size
/ --form-label-padding
/ --form-instructions-color
/ --form-instructions-font-size
/ --form-instructions-padding
/ -------------------------------------------------- 
*/

.mkui-form-grid {
  display: grid;
  gap: var(--form-gap, 1rem);
  grid-template-columns: var(--form-columns, 1fr);
}

.mkui-field-container {
  position: relative;
  display: flex;
}

.form-safe input,
.form-safe textarea,
.form-safe .mkui-field-label,
.mkui-field-container.form-safe {
  opacity: 0;
  height: 0px;
  padding: 0px;
}

.mkui-field-container,
.mkui-form-divider,
.mkui-field-repeater,
.mkui-field-group {
  grid-column: 1 / -1;
}

/* Placeholder */

.mkui-form .placeholder,
.mkui-form ::placeholder {
  color: var(--form-placeholder-color, var(--color-text));
}
.mkui-form :-moz-placeholder {
  color: var(--form-placeholder-color, var(--color-text));
  opacity: 1;
}
.mkui-form ::-webkit-input-placeholder {
  color: var(--form-placeholder-color, var(--color-text));
}
/* Instructions */
.mkui-field-instructions {
  color: var(--form-instructions-color, var(--color-text));
  font-size: var(--form-instructions-font-size, 0.8rem);
  padding: var(--form-instructions-padding, 5px 0 10px);
}
/* Labels */

.mkui-field-label {
  display: flex;
  color: var(--form-label-color, var(--color-text));
  font-size: var(--form-label-font-size, 1rem);
  padding: var(--form-label-padding, 0 0 5px);
}
.label-bottom-center .mkui-field-label,
.label-top-center .mkui-field-label {
  justify-content: center;
}
.label-bottom-right .mkui-field-label,
.label-top-right .mkui-field-label {
  justify-content: flex-end;
}
.label-left,
.label-right {
  align-items: center;
}
.label-left input,
.label-right input {
  flex: 1;
}
.label-right .mkui-field-label {
  order: 2;
}

/* Errors */

.error .mkui-input,
.error .mkui-textarea,
.error .mkui-select-control {
  border-color: var(--form-error-color, red);
}

.mkui-field-error {
  position: absolute;
  color: var(--form-error-color, red);
  font-size: var(--form-error-font-size, 0.75rem);
}
.error-top-right.label-top-right .mkui-field-error,
.error-top-left.label-top-left .mkui-field-error {
  top: initial;
}
.error-top-right .mkui-field-error,
.error-top-left .mkui-field-error,
.error-top-center .mkui-field-error {
  bottom: calc(100% + var(--form-error-padding, 5px));
}
.error-bottom-right .mkui-field-error,
.error-bottom-left .mkui-field-error,
.error-bottom-center .mkui-field-error {
  top: calc(100% + var(--form-error-padding, 5px));
}
.error-top-right .mkui-field-error,
.error-bottom-right .mkui-field-error {
  right: 0;
}
.error-top-left .mkui-field-error,
.error-bottom-left .mkui-field-error {
  left: 0;
}
.error-top-center .mkui-field-error,
.error-bottom-center .mkui-field-error {
  left: 50%;
  transform: translateX(-50%);
}

/* Pagination */

.mkui-form-pagination {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  margin-top: 3rem;
}

.mkui-form-pagination .next,
.mkui-form-pagination .mkui-form-submit {
  margin-left: auto;
}

.mkui-form-btn-page .icon-prev {
  margin-right: var(--form-margin-icon, 5px);
}

.mkui-form-btn-page .icon-next {
  margin-left: var(--form-margin-icon, 5px);
}

.mkui-form-btn-page .icon-prev,
.mkui-form-btn-page .icon-next {
  height: var(--form-page-icon-height, 10px);
}

/* Submit */

.mkui-form-submit {
  margin-top: var(--form-submit-margin-top, 2rem);
}

/* 
  .validate-icon {
    display: 'flex',
    alignItems: 'center',
    position: 'absolute',
    right: 10,
    top: 0,
    bottom: 0,
    opacity: 0,
    visibility: 'hidden',
    transition: 'all ease 0.2',
    '&.valid': {
      opacity: 1,
      visibility: 'visible',
    }
  } */
