.mkui-form-grid {
  display: grid;
}
.mkui-field-container {
  display: flex;
  position: relative;
}
.mkui-form-divider,
.mkui-field-group {
  grid-column: 1 / -1;
}
/* Labels */
.label-top-left,
.label-top-right,
.label-top-center,
.label-bottom-left,
.label-bottom-center,
.label-bottom-right {
  flex-direction: column;
}
.label-bottom-center .mkui-field-label,
.label-top-center .mkui-field-label {
  text-align: center;
}
.label-bottom-right .mkui-field-label,
.label-top-right .mkui-field-label {
  text-align: right;
}
.label-left,
.label-right input {
  flex: auto;
}
/* Errors */
.mkui-field-error {
  position: absolute;
}
.error-top-right .mkui-field-error {
  top: 0;
  right: 0;
}
.error-top-right.label-top-right .mkui-field-error {
  top: initial;
  bottom: 100%;
}
.error-top-left .mkui-field-error {
  top: 0;
  left: 0;
}
.error-top-left.label-top-left .mkui-field-error {
  top: initial;
  bottom: 100%;
}
.error-top-center .mkui-field-error {
  top: 0;
  left: 50%;
  transform: translateX(-50%);
}
.error-top-center.label-top-center .mkui-field-error {
  bottom: 100%;
}
.error-bottom-right .mkui-field-error {
  top: 100%;
  right: 0;
}
.error-bottom-left .mkui-field-error {
  top: 100%;
  left: 0;
}
.error-bottom-center .mkui-field-error {
  top: 100%;
  left: 50%;
  transform: translateX(-50%);
}
/* Misc */
/* 
  .validate-icon {
    display: 'flex',
    alignItems: 'center',
    position: 'absolute',
    right: 10,
    top: 0,
    bottom: 0,
    opacity: 0,
    visibility: 'hidden',
    transition: 'all ease 0.2',
    '&.valid': {
      opacity: 1,
      visibility: 'visible',
    }
  } */
