/* Form Inputs 
/ -------------------------------------------------- /
/ --form-gap
/ --form-columns
*/

.mkui-form-grid {
  display: grid;
  gap: var(--form-gap, 1rem);
  grid-template-columns: var(--form-columns, 1fr);
}
.mkui-field-container {
  display: flex;
  position: relative;
}

.mkui-field-container,
.mkui-form-divider,
.mkui-field-group {
  grid-column: 1 / -1;
}
/* Instructions */
.mkui-field-instructions {
  font-size: var(--form-font-size-instructions, 0.8rem);
  padding: var(--form-padding-instructions, 5px 0 10px);
}
/* Labels */
.mkui-field-label {
  font-size: var(--form-font-size-label, 1rem);
  padding: var(--form-padding-label, 0 0 5px);
}
.label-top-left,
.label-top-right,
.label-top-center,
.label-bottom-left,
.label-bottom-center,
.label-bottom-right {
  flex-direction: column;
}
.label-bottom-center .mkui-field-label,
.label-top-center .mkui-field-label {
  text-align: center;
}
.label-bottom-right .mkui-field-label,
.label-top-right .mkui-field-label {
  text-align: right;
}
.label-left,
.label-right input {
  flex: auto;
}
/* Errors */
.mkui-field-error {
  position: absolute;
  color: var(--form-color-error, red);
  font-size: var(--form-font-size-error, 0.75rem);
}
.error-top-right.label-top-right .mkui-field-error,
.error-top-left.label-top-left .mkui-field-error {
  top: initial;
}
.error-top-right .mkui-field-error,
.error-top-left .mkui-field-error,
.error-top-center .mkui-field-error {
  bottom: calc(100% + var(--form-padding-error, 5px));
}
.error-bottom-right .mkui-field-error,
.error-bottom-left .mkui-field-error,
.error-bottom-center .mkui-field-error {
  top: calc(100% + var(--form-padding-error, 5px));
}
.error-top-right .mkui-field-error,
.error-bottom-right .mkui-field-error {
  right: 0;
}
.error-top-left .mkui-field-error,
.error-bottom-left .mkui-field-error {
  left: 0;
}
.error-top-center .mkui-field-error,
.error-bottom-center .mkui-field-error {
  left: 50%;
  transform: translateX(-50%);
}
/* Misc */
/* 
  .validate-icon {
    display: 'flex',
    alignItems: 'center',
    position: 'absolute',
    right: 10,
    top: 0,
    bottom: 0,
    opacity: 0,
    visibility: 'hidden',
    transition: 'all ease 0.2',
    '&.valid': {
      opacity: 1,
      visibility: 'visible',
    }
  } */
