.editor {
  position: fixed;
  z-index: 1000;
  display: flex;
  flex-direction: column;
  background: var(--color-background);
  box-shadow: 5px 10px 11px -3px #00000024;
  height: 100%;
  width: 100%;

  @media screen and (max-width: 520px) {
    width: 100%;
  }

  &.undock {
    height: 500px;
    width: 520px;
    min-height: 45px;
    overflow: auto;
    resize: both;
    border-radius: 2px;
  }

  &.left {
    left: 0;
    top: 0;
    bottom: 0;
    width: 400px;
  }

  &.right {
    right: 0;
    top: 0;
    bottom: 0;
    width: 400px;
  }
}

.left,
.right {
  .editor-nav {
    cursor: default;
  }
}

.editor-nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background: var(--studio-primary, #6315ed);
  border: 1px solid var(--studio-primary, #6315ed);
  height: 45px;
  color: #fff;
  cursor: move;
  user-select: none;
  padding: 0 8px 0 15px;

  button {
    background: none;
    outline: none;
    border: none;
  }

  svg {
    height: 15px;
    fill: #fff;
  }
}

.layout-buttons {
  margin-right: 15px;
}

.layout-button {
  opacity: 0.5;
  transition: opacity 0.2s ease-in-out;

  svg {
    height: 14px;
  }

  &:hover {
    opacity: 1;
  }
}

.layout-active {
  opacity: 1;
}

.editor-content {
  flex: 1;
  border: 1px solid var(--studio-gray-200, #b4b4b4);
  border-top: none;
  overflow: scroll;
}

.editor-menu {
  display: flex;
  align-items: center;
  height: 45px;
  background: var(--studio-gray-100, #f6f6f6);
  background: #f6f6f6;
  border-bottom: 1px solid var(--studio-gray-200, #b4b4b4);
}

.editor-body {
  padding: 15px;
}
