.mkui-editor {
  position: fixed;
  z-index: 1000;
  height: 500px;
  width: 520px;
  background: var(--color-background);
  border: 1px solid;
  overflow: auto;
  resize: both;
  border-radius: 4px;
  box-shadow: 5px 10px 11px -3px #00000024;
}

.mkui-editor-nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background: #000;
  color: #fff;
  cursor: move;
  user-select: none;
  padding: 10px 8px 10px 15px;
}

.mkui-editor-nav button {
  background: none;
  outline: none;
  border: none;
}

.mkui-editor-nav svg {
  height: 17px;
  fill: #fff;
}
