.topbar {
  height: var(--height-topbar);
  background: var(--color-bg-topbar, #fff);
  top: 0px;
  z-index: 100;
  display: block;
  position: relative;

  :global .container {
    max-width: var(--max-width-topbar);
  }

  &:global.sticky {
    position: sticky;
  }
  &:global.mobile-hide {
    display: none;
  }
}
