.grid-wrapper {
  position: relative; /* For positioning the menu */
  width: 100%;
}

.grid-box {
  position: absolute;
  top: -1px;
  left: 0;
  right: 0;
  bottom: -1px;
  border: 1px solid #363636;
  opacity: 0;
  transition: opacity 0.2s ease-in-out;
}

.grid {
  display: grid;
  position: relative; /* For positioning the menu */
  width: 100%;
  min-height: 500px;
}

.grid-wrapper:hover .grid-resize,
.grid-wrapper:hover .grid-box,
.grid-wrapper:hover .grid-menu,
.grid-wrapper:hover .grid-actions,
.grid-active .grid-menu,
.grid-active .grid-resize,
.grid-active .grid-actions,
.grid-active .grid-box {
  opacity: 1;
}

.grid-wrapper:hover .grid-border {
  opacity: 1;
}

.grid-cell {
  position: relative;
}

.grid-wrapper.collapse {
  padding: 0px !important;
  opacity: 1 !important;
}

.grid-wrapper.invisible {
  opacity: 0.6;
}

.grid-wrapper.collapse .grid-menu,
.grid-wrapper.collapse .grid-actions {
  opacity: 1;
}

.grid-collapse {
  width: 100%;
  padding: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  background: #363636;
  color: #fff;
}
.btn-expand {
  background: none;
  border: none;
  display: flex;
  align-items: center;
  color: #fff;
  font-size: 1.2em;
}

.btn-expand svg {
  height: 25px;
  fill: #fff;
  border: 1px solid #ffffff33;
  padding: 5px;
}

.btn-expand span {
  margin: 0 25px 0 20px;
}

.current-grid {
  display: grid;
  height: 12px;
  gap: 3px;
}

.current-cell {
  background: #fff;
}

.gap-control {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, calc(-50% + 15px));
  display: flex;
  flex-direction: column;
  align-items: center;
  z-index: 1;
}

.gap-value {
  width: fit-content;
  height: 20px;
  margin-top: 10px;
  background: #e2e2e2;
  color: #9a9a9a;
  font-size: 0.8em;
}

.gap-control button {
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 15px;
  background: black;
  height: 20px;
  width: 20px;
  margin: 0 2px;
  border-radius: 50%;
  border: none;
  cursor: pointer;
  opacity: 0;
  transition: opacity 0.2s ease-in-out;
}

.resize-gap:hover .gap-control button {
  opacity: 1;
}

.grid-resize {
  display: grid;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  opacity: 0;
  transition: opacity 0.2s ease-in-out;
}

.resize-gap {
  position: absolute;
  top: 0;
  right: 0;
  height: 100%;
  background: #e2e2e2;
  cursor: ew-resize;
  z-index: 1;
}

.resize-padding {
  position: absolute;
  cursor: ns-resize;
  background: #e2e2e2;
  color: #9a9a9a;
  font-size: 0.8em;
}

.resize-padding span {
  background: #e2e2e2;
  padding: 2px 4px;
  border-radius: 2px;
  z-index: 10;
}

.resize-padding.top {
  top: 0;
  left: 0;
  right: 0;
}

.resize-padding.right {
  top: 0;
  right: 0;
  bottom: 0;
  cursor: ew-resize;
}

.resize-padding.left .abs {
  position: absolute;
  left: 0;
}

.resize-padding.right .abs {
  position: absolute;
  right: 0;
}

.resize-padding.bottom {
  bottom: 0;
  left: 0;
  right: 0;
}

.resize-padding.left {
  top: 0;
  left: 0;
  bottom: 0;
  cursor: ew-resize;
}
