.grid-wrapper {
  position: relative; /* For positioning the menu */
  width: 100%;
}

/* .grid-box {
  position: absolute;
  top: -1px;
  left: 0;
  bottom: -1px;
  width: 100%;
  border-bottom: 1px inset var(--studio-primary, #6315ed);
  border-top: 1px inset var(--studio-primary, #6315ed);
} */

.grid {
  display: grid;
  position: relative; /* For positioning the menu */
  width: 100%;
  min-height: 500px;
}

.mkui-studio-reveal {
  opacity: 0;
  transition: opacity 0.2s ease-in-out;
}

.grid-wrapper:hover .mkui-studio-reveal,
.grid-active .mkui-studio-reveal {
  opacity: 1;
}

.grid-wrapper:hover .grid-border {
  opacity: 1;
}

/* .grid-cell {
  position: relative;
} */

.grid-wrapper.collapse {
  padding: 0px !important;
  opacity: 1 !important;
}

.grid-wrapper.invisible {
  opacity: 0.6;
}

.grid-wrapper.collapse .grid-menu,
.grid-wrapper.collapse .grid-actions {
  opacity: 1;
}

.grid-collapse {
  width: 100%;
  padding: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  background: var(--studio-primary, #6315ed);
  color: #fff;
}

.btn-expand {
  background: none;
  border: none;
  display: flex;
  align-items: center;
  color: #fff;
  font-size: 1.2em;
}

.btn-expand svg {
  height: 25px;
  fill: #fff;
  border: 1px solid #ffffff33;
  padding: 5px;
}

.btn-expand span {
  margin: 0 25px 0 20px;
}

.current-grid {
  display: grid;
  height: 12px;
  gap: 3px;
}

.current-cell {
  background: #fff;
}

/* .resize-value {
  background: var(--studio-handle-dark, #ded2fc);
  color: var(--studio-handle-text, #6315ed);
  width: fit-content;
  font-size: 0.8em;
  padding: 2px 4px;
  border-radius: 2px;
  z-index: 10;
} */

/* .resize-handle-item {
  position: absolute;
  cursor: ns-resize;
  background: var(--studio-handle, #f0ebfe);
}

.resize-handle-item.top {
  top: 0;
  left: 0;
  right: 0;
  border-bottom: 1px dashed;
  border-color: var(--studio-primary, #6315ed);
}

.resize-handle-item.right {
  top: 0;
  right: 0;
  bottom: 0;
  cursor: ew-resize;
  border-left: 1px dashed;
  border-color: var(--studio-primary, #6315ed);
  z-index: 1;
}

.resize-handle-item.left .abs {
  position: absolute;
  left: 0;
}

.resize-handle-item.right .abs {
  position: absolute;
  right: 0;
}

.resize-handle-item.bottom {
  bottom: 0;
  left: 0;
  right: 0;
  border-top: 1px dashed;
  border-color: var(--studio-primary, #6315ed);
}

.resize-handle-item.left {
  top: 0;
  left: 0;
  bottom: 0;
  cursor: ew-resize;
  border-right: 1px dashed;
  border-color: var(--studio-primary, #6315ed);
}

.resize-manual {
  z-index: 1;
} */

/* .resize-input {
  width: 60px;
  border: 1px solid gray;
  margin-right: 5px;
  border-radius: 2px;
  height: 25px;
  padding: 0 5px;
  text-align: center;
} */

/* .resize-submit {
  height: 25px;
  width: 25px;
  padding: 4px;
  background: black;
  border: 1px solid black;
  border-radius: 2px;
}

.resize-submit svg {
  fill: #fff;
} */
